{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="d-flex justify-content-between flex-wrap">
  <div class="d-flex overflow-scroll" style="margin-bottom: 10px;">
    {% for row in rows %}
        <div class="festival-access-calendar ">
          {{ row.content }}
        </div>
    {% endfor %}
  </div>
  <div>
    <a href="/calendrier" class="btn-calendar" style="margin-right: 15px; margin-left: 15px;">Le calendrier</a>
  </div>
</div>


