#main-footer {
  .container {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 2.5rem;
    .menu-footer-first,
    .menu-footer-second {
      a {
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .contact-details {
      padding-top: 8px;
    }
    .ddo-presentation {
      position: relative;
    }
    .region-footer-third,
    .region-footer-fourth {
      p {
        font-size: 0.9rem;
      }
    }
  }
  #block-contact-details {
    @include media-breakpoint-down(md) {
      padding-top: 0.625rem;
    }
  }

}
