#main-footer {
  .container {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 20px;
    .menu-footer-first,
    .menu-footer-second {
      a {
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .contact-details {
      padding-top: 8px;
    }
    .ddo-presentation {
      position: relative;
      top: -8px;
    }
    .region-footer-third,
    .region-footer-fourth {
      p {
        font-size: 0.9rem;
      }
    }
  }
  #block-contact-details {
    @include media-breakpoint-down(md) {
      border-top: 1px solid black;
      padding-top: 20px;
    }
  }
  #block-ddo-text {
    img {
      max-width: 33%;
    }
  }

}
