.page-view-frontpage {
  @include media-breakpoint-up(xxl) {
    .container {
      max-width: 1140px !important;
    }
  }
}
/* Info flash  ********************************************************************************/
.highlighted {

  background-color: map-get($theme-colors, "secondary");
  margin-bottom: 10px;

  > * > * {
    padding-top: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: white;
  }

  a {
    text-decoration: none;

    h3,
    p {
      color: white;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .flash-info-body {
    margin-top: 8px;
    font-weight: bold;
  }

  .node--view-mode-teaser {
    border-bottom: 0 !important;
  }
}

/* En ce moment + diaporama *******************************************************************/
.region-featured-top {
  /* En ce moment*/

  #section-currently {
    position: relative;
    display: inline-table;

    #over-currently {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 48px 20px 30px 20px;
      width: 100% !important;
      text-align: right;
      background: linear-gradient(transparent, black);

      .field--name-node-title {
        font-size: 2rem;
        @include media-breakpoint-down(md) {
          font-size: 1.4rem;
        }
        color: #fff;
        text-decoration: none;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
        padding-top: 50px;
        display: inline !important;
        margin-bottom: 20px;

        @include special_underline(white, map-get($theme-colors, "secondary"), 70%, 100%);
      }
    }
  }

  /* Diaporama */
}

/* Accès par festivals */
.featured-top-large {
  margin: 20px 0;
  background-color: $gray-300;

  .block-views-blockfrontpage-festival-names {
    padding: 20px 0 30px 0;
    h2 {
      font-size: 1em;
      margin-bottom: 15px;
      font-weight: normal;
      padding-left: 15px;
    }
  }

}
