.highlighted {
  padding-top: 20px;
  background-color: map-get($theme-colors,"secondary");
  margin-bottom: 10px;
  h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: white;
  }
  a {
    text-decoration: none;
    h3,
    p {
      color: white;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .flash-info-body {
    margin-top: 8px;
    font-weight: bold;
  }
  .node--view-mode-teaser {
    border-bottom: 0!important;
  }
}
#section-currently {
  position: relative;
  display: inline-table;
  #over-currently {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-end;
    width: 100% !important;
    background: linear-gradient(transparent, black);
    .field--name-node-title {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
      font-style: normal;
      font-weight: 800;
      text-transform: uppercase;
      padding-top: 50px;
      display: inline!important;
      margin-bottom: 20px;

      @include special_underline(white, map-get($theme-colors,"secondary"), 70%, 100%);
    }
  }
}
