body {
  font-family: "Gotham", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
img {
  max-width: 100%;
}
/* Textes */
p.txt-intro-grenadine {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem !important;
  color: map-get($theme-colors, "secondary");
  line-height: calc(22rem/16) !important;
}
