#mc-embedded-subscribe-form {
  margin: 0 0 15px 0 !important;
  padding: 0 !important;
}
.page-view-newsletters {
  .view-content.row {
    display: flex;
    justify-content: space-between;
    > div.views-row {
      flex-basis: 33%;
      @include media-breakpoint-down(md) {
        flex-basis: 99%;
      }
      .newsletter-teaser {
        min-height: 570px;
        position: relative;
        .field--type-image {
          float: none;
          margin: 0 !important;
          img {
            margin: 0;
          }
        }
        .txt-over-newsletter-image {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          color: white !important;
          background: linear-gradient(transparent, black);
          .title-nl {
            display: flex;
            flex-direction: column;
            flex-basis: 70%;
            justify-content: flex-end;
          }
          .body-nl {
            flex-basis: 20%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
          }
          .bottom-nl {
            flex-basis: 10%;
          }
          > * {
            padding: 15px;
          }
          a {
            color: #FFF;
            font-size: 1.8rem;
            text-transform: uppercase;
            @include special_underline(white, map-get($theme-colors, "secondary"));
          }
          .sending-date-nl {
            font-size: 0.8rem;
            font-style: italic;
            font-weight: 400;
            display: flex;
          }
        }
      }
    }
  }
}
