body.node--type-page {
  .div-image-style-banner {
    position: relative;
    display: block;

    &:after {
      content: "";
      display: block;
      height: 50%;
      z-index: 1;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
      visibility: visible;
      width: 100%;
    }
  }

  .wrapper-over-img-abs {
    position: relative;

    .group-text-over-img-abs {
      position: absolute;
      z-index: 2;
      bottom: 20px;

      .field--name-node-title {
        font-size: 2.25rem;
        @include media-breakpoint-down(md) {
          font-size: 1.4rem;
        }
        text-transform: uppercase;
        color: white;
        margin-bottom: 0.625rem;
        margin-top: 0;
        font-style: normal;
        font-weight: 800;
      }
    }
  }

  .content-without-banner-img {
    margin-bottom: 20px;

    .wrapper-title-term {
      margin-bottom: 30px;

      h2 {
        @include special_underline(black, map-get($theme-colors, "secondary"));
        text-transform: uppercase;
      }
    }
  }

  .content-with-banner-img {
    padding-top: 20px;
  }

  .col-with-public {

    figure {
      position: relative;

      figcaption {
        position: absolute;
        bottom: 5px;
        left: 0;
        color: #FFFFFF;
        width: 94%;
        padding: 10px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(transparent, #000);
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
