/* Teaser de spectacles */
.teaser-show {
  border: 3px solid blue;
  position: relative;
  .link-img-teaser-show {
    display: block;
    border: 3px solid brown;
    .field--type-entity-reference {
      margin: 0;
    }
    img {
      margin: 0;
      border: 3px solid green;
    }
  }

  .top-info-teaser-show {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;

    background-color: #000000;
    text-decoration: none;
    padding: 5px;
    font-size: 0.6875rem;
    border: 1px solid black;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    .field--type-entity-reference {
      margin: 0;
    }
    a {
      color: #FFF;
    }
  }
  .bottom-info-teaser-show {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
