body.page-view-taxonomy-term,
body.page-view-taxonomy-term-copy {
  .div-image-style-banner {
    position: relative;
    display: block;

    &:after {
      content: "";
      display: block;
      height: 50%;
      z-index: 1;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
      visibility: visible;
      width: 100%;
    }
  }

  .wrapper-over-img-abs {
    position: relative;

    .group-text-over-img-abs {
      position: absolute;
      z-index: 2;
      bottom: 20px;

      .field--name-name {
        text-transform: uppercase;
        font-size: 2.25rem;
        color: white;
        margin-bottom: 0.625rem;
        margin-top: 0;
        font-style: normal;
        font-weight: 800;
      }
    }
  }

  .content-without-banner-img {
    margin-bottom: 20px;
    .wrapper-title-term {
      margin-bottom: 30px;
      h2 {
        @include special_underline(black, map-get($theme-colors, "secondary"));
        text-transform: uppercase;
      }
    }
  }

  .content-with-banner-img {
    padding-top: 20px;
  }
  /* Lieux de spectacle */
  .field--name-field-ls-practical {
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 20px 0;
      li {
        a {
          font-weight: bold;
          display: block;
          text-decoration: underline;
          color: map-get($theme-colors, "secondary");
          text-decoration: none;
          &:before {
            @extend %icon-fontello;
            content: "\e834";
            font-size: 0.9rem;
            color: black;
            position: relative;
            left: -5px;
          }
        }
      }
    }
  }

}
