body.page-view-user-admin-people {
  .field--name-field-media-image {
    float: left;
    margin-right: 20px;
    max-width: 174px;
  }
  .views-field-field-description {
    h3 {
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25em;
      color: map-get($theme-colors, "secondary");
      margin-bottom: 0;
    }
  }

  #page-nav-left {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
  h2 {
    @include special_underline(black, map-get($theme-colors, "secondary"));
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  #block-team-head {
    padding: 40px 0 0 0;
    h3 {
      color: map-get($theme-colors, "secondary");
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    p {
      margin: 0 0 20px 0;
    }
  }
  .row {
    > h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 10px 0;
    }
    h4 {
      color: map-get($theme-colors, "secondary");
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
    }
    p {
      margin: 5px 0;
    }
  }
}
