/* La page de présentation globale de la technique*/
.page-vocabulary-espace-pro {
  .node--view-mode-teaser {
    border: 0 !important;
  }

  #row-technique-places {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      > div {
        flex-basis: calc(100% / 3.1);
      }
    }

  }

  .technique-teaser {
    display: block;
    position: relative;

    a.link-place-technique-image {
      display: block;

      .field--type-entity-reference {
        margin: 0 !important;
        padding: 0 !important;
      }

      .field--type-image {
        float: none !important;
        margin: 0 !important;

        img {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }

    .link-place-technique-title {
      position: absolute;
      width: 100%;
      bottom: 0;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: linear-gradient(transparent, black);

      .field--name-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        padding-bottom: 12px;
        display: block;
        color: #FFF;
        padding: 50% 5px 10px 10px;
        margin: 0;
        text-decoration: none;
      }
    }
  }

  .field--name-body {
    padding-top: 20px;
  }


}

/* Une page de lieu pour la technique */
body.node--type-documentation {
  .open-close {
    background-color: #EFEFEF;
    margin-bottom: 5px;
    padding: 10px;

    .layout.layout--onecol {
      div.layout__region {
        > .field--name-field-title {
          color: black;
          font-weight: bold;
          &:hover {
            cursor: pointer;
          }
          &:after {
            float: right;
            @extend %icon-fontello;
            content: "\e836";
            font-size: 1rem;
            color: black;
          }
          &.open {
            &:after {
              content: "\e835";
              color: map-get($theme-colors, "secondary");
            }
          }
        }
      }
    }
  }
}

