{#
/**
 * @file
 * Default theme implementation to display the Mapado synchronization status block.
 *
 * Available variables:
 * - block_title : The Mapado block title
 * - sync_enabled : The boolean status enabled/disabled of the Mapado synchronization process.
 */
#}
{% if logged_in %}
  <div id="madado-sync-status" class="container {{ mapado_class }}">
    <div class="row">
      <div class="mapado-sync">La synchronisation Mapado <span class="sync-status">{{ sync_enabled ? "EST" : "N'EST PAS" }}</span> activée</div>
    </div>
  </div>
{% endif %}

