{# Header dont icônes sociales logo et abonnement et notifications #}
<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
  <div class="container">
    <div class="row">
      <div class="col-2 col-md-3 d-flex align-items-center px-0">
        <div id="custom-mega-menu-button" class="open-menu-button">
          <span class="visually-hidden">MENU</span>
        </div>
      </div>
      <div class="col-8 col-md-5 d-flex flex-column align-items-center justify-content-center">
        {{ page.header }}
      </div>
      <div class="col-2 col-md-4 d-flex justify-content-end align-items-center px-0" id="buttons-notification-subscribe">
        <div id="webpush">Notifications</div>
        <a id="link-subscription" href="https://billetterie.printempsdescomediens.com/home?lng=1" target="_blank">Billetterie</a>
        <div id="custom-search-button">
          <span class="visually-hidden">Recherche</span>
        </div>
      </div>
    </div>
  </div>
</header>
